*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


:root {
    --cinza: #222222;
    --branco: #FFFFFF;
    --fonte: Arial, sans-serif;
}

body {
    background-image: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
    display: grid;
    grid-template-columns: repeat(10, 10% [col-start]);
    grid-template-rows: repeat(6, 1fr [row-start]);
}

.inicio {
    background-color: var(--branco);
    filter: drop-shadow(0 0 50px var(--branco));
    opacity: 0.75;
    grid-area: main;
    grid-column: 1 / 4;
    grid-row: 2 / 6;
    padding: 15%;
}

h1 {
    color: var(--cinza);
    font-family: var(--fonte);
    font-size: 45px;
    line-height: 40px;
    font-weight: 700;
    padding-bottom: 2rem;
}

h2 {
    color: var(--cinza);
    font-family: var(--fonte);
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
    padding-bottom: 1rem;
}

.apresentacao p, li {
    font-family: var(--fonte);
    font-size: 0.75rem;
    padding-bottom: 1rem;
    line-height: 1.1rem;
}

.calculadora {
    background-color: var(--branco);
    opacity: 0.90;
    filter: drop-shadow(0 0 70px var(--branco));
    grid-column: 4 / 8;
    grid-row: 1 / 7;
    padding: 12% 5%;
    margin: 3rem 0 3rem 0;
}

.dados {
    display: grid;
    grid-template-columns: repeat(4, 22.5% [col-start]);
    column-gap: 3%;
}

.titulo1, #nomesobrenome {
    grid-column: span 4;
}

#primeiromodulo {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

#segundomodulo {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

#terceiromodulo {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

#quartomodulo {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}

#saudacao, #resultado, #situacao {
    grid-column: span 4;
}

h5 {
    color: var(--cinza);
    font-family: var(--fonte);
    font-size: 1rem;
    font-weight: 700;
    padding: 5% 0;
}

h6 {
    grid-column: span 1;
    font-family: var(--fonte);
    font-size: 0.7rem;
    font-weight: 600;
    text-align: center;
    padding: 5% 0;
}

input {
    height: fit-content;
    border: none;
    border-bottom: 1px solid var(--cinza);
    padding: 5px;
    font-family: var(--fonte);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

input[type=text] {
    outline: none;
}

input[type=text]:focus, input[type=number]:focus {
    border: none;
    border-bottom: 1px solid #4bc0c8;
}

input[type=number] {
    text-align: center;
    outline: none;
}

button {
    background-color: rgb(75, 192, 200, 0.50);
    filter: drop-shadow(0 0 5px #bfbfbf);
    height: fit-content;
    border: none;
    border-radius: 5px;
    color: var(--cinza);
    text-align: center;
    font-family: var(--fonte);
    font-size: 0.8rem;
    font-weight: 700;
    grid-column: span 2;
    padding: 2%;
    margin-top: 10%;
}

.dados p {
    font-family: var(--fonte);
    font-size: 0.8rem;
    line-height: 1.3rem;
}

.orientacoes {
    background-color: var(--branco);
    grid-area: main;
    filter: drop-shadow(0 0 50px var(--branco));
    opacity: 0.75;
    grid-column: 8 / 11;
    grid-row: 2 / 6;
    padding: 15%;
}

@media only screen and (max-width: 768px) {
    body {
        background-image: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
        display: flex;
        flex-direction: column;
    }

    .inicio {
        padding: 10%;
        margin-top: 3rem;
    }

    .calculadora {
        margin: 0;
        padding: 10%;
        filter: drop-shadow(0 0 80px var(--branco));
    }

    .dados {
        height: fit-content;
    }

    .orientacoes {
        padding: 10%;
        margin-bottom: 3rem;
    }

    h1 {
        width: 70%;
        font-size: 35px;
        line-height: 30px;
    }
}